Autosave
CD_Root/AutoPlay
CD_Root/DATA/xmbm/bin/base-source
CD_Root/DATA/xmbm/source
CD_Root/DATA/xmbm/output
CD_Root/DATA/xmbm/old
CD_Root/DATA/xmbm/bin/test_out
CD_Root/DATA/xmbm/ext/notepad/config.xml
CD_Root/DATA/XMBM+BuilderToolkit.exe
CD_Root/DATA/xmbm/icon.ico
CD_Root/DATA/xmbm/lua5.1.dll
CD_Root/DATA/xmbm/lua51.dll
