Autosave
CD_Root/AutoPlay
CD_Root/XMBM+BuilderToolkit.exe
CD_Root/icon.ico
CD_Root/lua5.1.dll
CD_Root/lua51.dll
CD_Root/DATA/xmbm/bin/base-source
CD_Root/DATA/xmbm/source
CD_Root/DATA/xmbm/output
CD_Root/DATA/xmbm/old
CD_Root/DATA/xmbm/bin/test_out
CD_Root/DATA/xmbm/ext/notepad/config.xml
CD_Root/DATA/xmbm/ext/notepad/session.xml
CD_Root/DATA/xmbm/ext/notepad/shortcuts.xml
CD_Root/DATA/xmbm/ext/scetool
